.program-block {
    height: 1200px;
    background-size: contain;
    background-repeat: no-repeat;
}

.program-block-1 {
    //background-image: url('/img/program/block_1.png');
}

.program-block-2 {
    background-image: url('/img/program/block_2_480.png');
}

.program-block-3 {
    background-image: url('/img/program/block_3_480.png');
}

.program-block-4 {
    background-image: url('/img/program/block_4_480.png');
}

.program-block-5 {
    background-image: url('/img/program/block_5_480.png');
}

.program-block-6 {
    background-image: url('/img/program/block_6_480.png');
}

.program-block-7 {
    background-image: url('/img/program/block_7_480.png');
}

.program-block-8 {
    background-image: url('/img/program/block_8_480.png');
}


//////////////////
// Result Blocks//
//////////////////

.result-block {
    height: 900px;
}

.result-block-1 {
    background-image: url('/img/results/member_1_480.png');
}

.result-block-2 {
    background-image: url('/img/results/member_2_480.png');
}

.result-block-3 {
    background-image: url('/img/results/member_3_480.png');
}

.result-block-4 {
    background-image: url('/img/results/member_4_480.png');
}