
.container {
	max-width: 1000px;
    padding: 0 15px;
    padding-bottom: 50px;
}

.s3 > .container {
    background: url(../img/program_bg.png) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

h1 {
    font-size: 48px;
    margin-top: 35px;
    max-width: 600px;
    margin-bottom: 60px;
}