
header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    position: absolute;

    color: white;
}

section {
}

/*.wrapper {
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}*/


// BUTTONS
.button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-family: 'Fontfabric-MullerBold';
    font-size: 18px;
    font-weight: bold;
    width: 280px;
    height: 44px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    padding-top: 11px;

    margin-top: 44px;
}

.button:hover {
    text-decoration: none;
}

// Header
.button-red {
    color: #e53045;
    background-color: #fff;
}

.button-red:hover {
    color: white;
    background-color: #e53045;
    border: 1px solid white;
}

// Form

.button-white {
    color: white;
    background-color: #e53045;
    border: 1px solid white;
}

.button-white:hover {
    color: #e53045;
    background-color: #fff;
    border: 1px solid #e53045;
}