
header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    position: absolute;

    color: white;
}

section {
    padding-bottom: 50px;
}

/*.wrapper {
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}*/
