/////////////////
// Global fonts//
/////////////////

//1200px (768)

//Global Section Titles
.section-title, h2 {
    font-size: 48px;
}

// Global Standart Text
.standart-text {
    font-size: 16px;
}


//Header
.header-title, h1 {
    font-size: 80px;
}

.header-subtitle-1 {
    font-size: 24px;
}

.header-subtitle-2 {
    font-size: 24px;
    width: 80%;
}

.white-button {
    font-size: 18px;

    width: 280px;
    height: 44px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.white-button:hover {
    
}


// Course
// Standart Text

// Waiting for
// Standart Text
// Red Bold
.waiting-red-bold {
    font-size: 18px;
}

// Program
// Block
.program-tab-red-bold{
    font-size: 16px;
}

//Titles
.program-title {
    font-size: 48px;
}

.program-title-slash {
    font-size: 16px;
}

.program-title-time {
    font-size: 16px;
}



