@font-face {
    font-family: 'Fontfabric-MullerRegular';
    src: url(../fonts/Fontfabric-MullerRegular.otf);
}

@font-face {
    font-family: 'Fontfabric-MullerBold';
    src: url(../fonts/Fontfabric-MullerBold.otf);
}

body {
    line-height: 1.3;
    font-family: "Fontfabric-MullerRegular", "Arial", sans-serif;
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: 'Fontfabric-MullerBold', "Arial", sans-serif;
    // font-size: 48px;
    text-transform: uppercase;
    font-weight: 900;
    // margin-top: 35px;
    // max-width: 600px;
    // margin-bottom: 60px;
}

h2 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.main-subheader {
    margin-top: 35px;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.main-text {
    width: 60%;
}

.bold {
    font-weight: 900;
}