.svg {
    display: none;
}

.s1 {
    background: url(../img/scaling-1200.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 110px;
}

.s3 > .container {
    background: none;
}

.s10 {
    background: url(../img/form_bg_image.png) center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    padding-top: 100px;
    padding-bottom: 110px;
}

///////////////////
// Program Blocks//
///////////////////

.program-num {
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
}

.program-num-1 {
    background-image: url('/img/program/bg_1.png');
}

.program-num-2 {
    background-image: url('/img/program/bg_2.png');
}

.program-num-3 {
    background-image: url('/img/program/bg_3.png');
}

.program-num-4 {
    background-image: url('/img/program/bg_4.png');
}