.svg {
    display: none;
}

.s1 {
    background: url(../img/scaling-1200.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 110px;
}

.s3 > .container {
    background: none;
}

.s10 {
    background: url(../img/form_bg_image.png) center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    padding-top: 100px;
    padding-bottom: 110px;
}
